body {
    overflow-x: hidden;
}

#content {
    height: calc(100% - 128px - 4.375rem) !important;
}

#test-image {
    width: 100%;
    height: auto;
}

#welcome_user {
    font-weight: 700;
    color: rgba(0,0,0,0.7);
}

/** Modal Information (except Logout page)
overriding pre-existing CSS info from sb-admin **/
.modal-header {
    display: block;
}
.modal-dialog {
    margin: 1rem auto !important;
}
.modal-header .close {
    padding: 0rem 0.25rem !important;
    margin: 0rem !important;
}
.modal-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Oswald', 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.75) !important;
}
.modal-body {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}
.modal-footer .btn.btn-default {
    font-size: 1.25rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.close {
    font-size: 2rem;
}

/** Navigation Bar **/
#accordionSidebar {
    background-color: #002B53 !important;
    background-image: linear-gradient(180deg, #4e73df 5%,#002B53 100%) !important;
    background-size: cover;
}
.bg-topbar-custom {
    background-color: #002B53 !important;
    opacity: 0.95;
    background-image: none !important;
    background-size: cover;
}
#dashboard-text, #cleaning-pattern-text, #set-time-text {
    font-family: 'Poppins', 'Nunito', sans-serif;
}

/** Override Bootstrap's ToolTip for info buttons **/
#info-icon, #info-icon-dashboard {
    display: block;
    text-align: right;
    height: 40px;
}
#info-icon {
    margin-right: 0.75rem;
    color: #ffffff;
}


/** Navigation - Set Time **/
#contact-icon, #download-guide-icon {
    margin: auto 0.75rem;
}
#contact-icon-a, #download-guide-icon-a {
    color: #d1d3e2;
}
#chosen-date-div {
    margin-bottom: 16px;
}
#chosen-date-label, #choose_date {
    display: block;
    margin: 0 auto;
    text-align: center;
}


#manual-set-time-form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}
#hour-input, #minute-input {
    width: 48px;
}
#hour-input {
    justify-content: right;
    text-align: right;
}
#time-colon {
    margin: 0px 2px;
}
#adhoc-button {
    font-size: 1.25rem;
    font-family: 'Oswald', 'Nunito', sans-serif;
}
#start-button {
    font-size: 1.25rem;
    font-family: 'Oswald', 'Nunito', sans-serif;
}

/** Web Simulation Div **/
#web-simulation-title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
#web-simulation-screen {
    width: 95%;
    margin: 0 auto;

}

/** Button Options Div **/
#emergencyStop {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', 'Nunito', sans-serif;
    width: 20%;
}

/** Status Div **/
#status-div {
    height: 150px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);  
}
#status-inner-div {
    display: inline;
    margin: 8px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}
#status-block {
    justify-content: center;
    text-align: center;
    min-height: 64px;
}
.status-inner-div-inline {
    float: left;
    justify-content: center;
    width: 200px;
}

#status-title {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#battery-status-red-light, #battery-status-green-light {
    display: none;
}

#claynce-logo-div {
    position: absolute;
    right: 16px;
    bottom: 16px;
}
#claynce-logo {
    width: 96px;
    height: auto;
}


@media only screen and (min-width: 360px) and (max-width: 576px) {
    #status-inner-div {
        width: 90%;
        min-height: 150px;
        justify-content: center;
        text-align: center;
    }
    #status-block {
        float: none;
        margin: 0px auto;
    }
    #accordionSidebar {
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    #wrapper {
        height: 100vh;
    }
    #emergencyStop {
        width: 50%;
    }
    .modal-title {
        font-size: 1.5rem;
    }
    .modal-body {
        font-size: 1.25rem;
    }
    .modal-footer .btn.btn-default {
        font-size: 1rem;
    }
    .close {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {
    #emergencyStop {
        width: 35%;
    }
}

#sidebarToggleTop {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}