body {
    overflow-x: hidden;
}

.test {
    height: calc(100% - 128px - 4.375rem) !important;
}

#test-image {
    width: 100%;
    height: auto;
}

/** Navigation Bar **/
#accordionSidebar {
    background-color: #002B53 !important;
    background-image: linear-gradient(180deg, #4e73df 5%,#002B53 100%) !important;
    background-size: cover;
}
.bg-topbar-custom {
    background-color: #002B53 !important;
    opacity: 0.95;
    background-image: none !important;
    background-size: cover;
}

/** Override Bootstrap's ToolTip for info buttons **/
#info-icon, #info-icon-dashboard {
    display: block;
    text-align: right;
    height: 40px;
}
#info-icon {
    margin-right: 0.75rem;
}


/** Navigation - Set Time **/
#contact-icon {
    margin: auto 0px;
}
#contact-icon-a {
    color: #d1d3e2;
}


#manual-set-time-form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}
#hour-input, #minute-input {
    width: 48px;
}
#hour-input {
    justify-content: right;
    text-align: right;
}
#time-colon {
    margin: 0px 2px;
}
#start-button {
    font-size: 1.25rem;
    font-family: 'Oswald', 'Nunito', sans-serif;
}

/** Web Simulation Div **/
#web-simulation-title {
    text-align: center;
    font-family: 'Poppins', 'Nunito', sans-serif;
}

/** Button Options Div **/
#button-options-div {
    margin: 16px 0px;
}
#button-options-div-lu {
    font-family: 'Oswald', 'Nunito', sans-serif;
}

#button-options-div-left {
    justify-content: right;
    text-align: right;
}
#button-options-div-right {
    justify-content: left;
    text-align: left;
}
#stop-button, #clean-button {
    width: 33%;
    font-size: 2em;
}

/** Status Div **/
#status-div {
    height: 150px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);  
}
#status-inner-div {
    display: inline;
    margin: 8px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}
#status-block {
    justify-content: center;
    text-align: center;
    min-height: 64px;
}
.status-inner-div-inline {
    float: left;
    justify-content: center;
    margin-right: 8px;
    width: 100px;
}

#status-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer {
    width: 100%;
    height: 64px;
    line-height: 64px;
    background-color: #f5f5f5;
}
.footer a {
    margin-right: 8px;
}
.footer a:link {
    text-decoration: none;
}


@media only screen and (min-width: 360px) and (max-width: 576px) {
    #status-inner-div {
        width: 90%;
        min-height: 150px;
        justify-content: center;
        text-align: center;
    }
    #status-block {
        float: none;
        margin: 0px auto;
    }
    #accordionSidebar {
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
}

#sidebarToggleTop {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}