#button-start-now {
    font-size: 2em;
    padding-bottom: 25px;
}

#pattern-choices {
    margin-left: 25px;
}
#time-choices {
    margin-left: 25px;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
  }

  .trial{
    margin: 0 10px 0 10px;
  }


/** Button Options Div **/
#button-options-div-lu {
    margin: 16px 0px;
}

#button-options-div-left-lu {
    justify-content: right;
    text-align: right;
}
#button-options-div-middle-lu {
    justify-content: center;
    text-align: center;
}
#button-options-div-right-lu {
    justify-content: left;
    text-align: left;
}

.bg-gradient-custom{
    background-color:#5cc0ff;
    background-image:linear-gradient(180deg,#5cc0ff 10%,#224abe 100%);
    background-size:cover
}

.bg-topbar-custom{
    background-color:#f78c7b;
    background-image:linear-gradient(180deg,#f78c7b 10%,#eb5c46 100%);
    background-size:cover
}

/** Better usability for phone - free free to modify **/
/* Breakpoint for phone is between 360px to 576px */
@media only screen and (min-width: 360px) and (max-width: 576px) {
    #stop-button-lu, #clean-button-lu {
        width: 70%;
        font-size: 2rem;
        height: 64px;
    }
    #button-options-div-left-lu, #button-options-div-middle-lu, #button-options-div-right-lu {
        justify-content: center;
        text-align: center; 
        margin: 4px auto;
        min-width: 180px;
    }

}
/** Better usability for tablets or iPads can be done later **/

