body {
    overflow-x: hidden;
    color: #fff !important;
}

/** Simple Flexbox centering with text aligned slightly above for easier visuals **/
.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /** For tablets and laptop usage **/
}
.section1::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #002B53;
    content: "";
}

#space-register {
    width: 500px;
}

/** Fixes visability issue for mobile **/
@media only screen and (min-width: 360px) and (max-width:768px) {
    .section1 {
        height: 100vh;
    }

}

.container {
    position: relative;
    text-align: center;
}

/** Container for Carousel Register Page **/
#carouselExampleControls {
    margin: 0 auto;
    width: 50vw;
}

/** Main Register Screen **/
#title {
    position: relative;
    font-weight: bold;
    font-size: 5rem;
    font-family: 'Oswald', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    margin: 0px;    
}
#sub-title, #qr-code-scanner-title {
    position: relative;
    font-size: 3rem;
    font-family: 'Oswald', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
}


#loginInput, #passwordInput, #uuidInput {
    margin: 0px auto;
    width: 50%;
    text-align: center;
}


/*** Steps Header ***/
.step-div {
    text-align: left;
}

#container2 {
    margin: 24px 16px;
}
#login-form {
    text-align: center;
    margin: 0 auto;
    width: 95%;
}
#invalid-register-div {
    display: none;
}
#invalid-register-text {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
}
/** Register Button animation */
#registerButton, #submitButton {
    font-family: 'Oswald', 'Roboto', Arial, sans-serif;
    font-size: 1.75em;
}

#submitButton {
    padding: 8px 24px;
    margin-top: 20px;
    margin-left: 0;
    width: 260px;
    transition: all 0.5s;
    cursor: pointer;
    align-items: center;

    background-color: #4e73df;
    border-color: #4e73df;
}
#submitButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#submitButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s
}
#submitButton:hover span {
    padding-right: 30px;
}
#submitButton:hover span:after {
    opacity: 1;
    right: 0;
}
/** End of Register Button animation */




#loginInputLabel, #passwordInputLabel {
    font-family: 'Roboto', 'Ubuntu', 'Open Sans', Arial, sans-serif;
    font-size: 1.75em;
}

#register-link-div {
    margin: 8px 0px;
}

#register-link {
    text-decoration: underline;
}
#newUserHelp {
    font-size: 1rem;
    font-family: 'Roboto', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    color: #ffffff;
    margin: 8px 0px;
}

#qr-code-background {
    height: 200px;
    width: 200px;
    background-color: black;
}


#registerButton, #submitButton {
    width: 50%;
    margin: 4px 0px;
    padding: 8px 16px;
}
#right-column {
    vertical-align: middle;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#claynce-placeholder-img {
    vertical-align: middle;
    margin-bottom: 24px;
}

#manual-input-uuid-div {
    margin-top: 8px;
}
#submitButton {
    margin-top: 16px;
}

/** Additional feature: Screen which supports smaller screen size **/ 
@media only screen and (max-width: 768px) and (min-width: 360px) {
    #registerButton, #submitButton {
        font-size: 1.5em !important;
        width: 75%;
    }
    #claynce-placeholder-img {
        margin: 16px 0px;
    }
    #left-column {
        margin-top: 8px;
    }
    #right-column {
        margin-top: 24px;
    }
    #carouselExampleControls {
        width: 95vw;;
    }
    #loginInput, #passwordInput, #uuidInput {
        width: 75vw;
    }
}
/* 

.carousel-control-next{
    position:absolute;
    top:0;bottom:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:center;
    width:15%;
    color:#fff;
    text-align:center;
    opacity:.5;
    transition:opacity .15s ease
}
@media (prefers-reduced-motion:reduce){
    .carousel-control-next,
    .carousel-control-prev{transition:none}
}
.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{
    color:#fff;
    text-decoration:none;
    outline:0;opacity:.9
}
.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{
    display:inline-block;
    width:20px;
    height:20px;
    background:no-repeat 50%/100% 100%
}
.carousel-control-prev-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
}
.carousel-control-next-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}




 */

 .carousel-item-luchiee{
     position:relative;
     display:none;
     float:left;
     width:100%;
     margin-right:-100%;
     -webkit-backface-visibility:hidden;
     backface-visibility:hidden;
     transition:transform .6s ease-in-out
    }



    html {
        height: 100%;
      }
      
      body {
        font-family: sans-serif;
        padding: 0 10px;
        height: 100%;
        background: black;
        margin: 0;
      }
      
      h1 {
        color: white;
        margin: 0;
        padding: 15px;
      }
      
      #container {
        text-align: center;
        margin: 0;
      }
      
      #qr-canvas {
        margin: auto;
        width: calc(100% - 20px);
        max-width: 400px;
      }
      
      #btn-scan-qr {
        cursor: pointer;
      }
      
      #btn-scan-qr img {
        height: 10em;
        padding: 15px;
        margin: 15px;
        background: white;
      }
      
      #qr-result {
        font-size: 1.2em;
        margin: 20px auto;
        padding: 20px;
        max-width: 700px;
        background-color: white;
      }