body {
    overflow-x: hidden;
    color: #fff !important;
}

/** Simple Flexbox centering with text aligned slightly above for easier visuals **/
.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /** For tablets and laptop usage **/
}
.section1::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #002B53;
    content: "";
}

/** Fixes visability issue for mobile **/
@media only screen and (min-width: 360px) and (max-width:768px) {
    .section1 {
        height: 175vh;
    }

}

.container {
    position: relative;
    text-align: center;
}

/** Main Register Screen **/
#title {
    position: relative;
    font-weight: bold;
    font-size: 5rem;
    font-family: 'Oswald', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    margin: 0px;    
}
#sub-title {
    position: relative;
    font-size: 3rem;
    font-family: 'Oswald', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
}

/*** Steps Header ***/
.step-div {
    text-align: left;
}

#container2 {
    margin: 24px 16px;
}
#login-form {
    text-align: center;
    margin: 0 auto;
    width: 95%;
}
#loginInputLabel, #passwordInputLabel, #registerButton, #submitButton {
    font-family: 'Roboto', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    font-size: 1.75em;
}
#loginInput, #passwordInput {
    text-align: center;
}


#register-link:hover {
    text-decoration: none;
}
#newUserHelp {
    font-size: 1rem;
    font-family: 'Roboto', 'Ubuntu', 'Open Sans', 'Roboto', Arial, sans-serif;
    color: #ffffff;
    margin: 8px 0px;
}

#qr-code-background {
    height: 200px;
    width: 200px;
    background-color: black;
}


#registerButton, #submitButton {
    width: 50%;
    margin: 4px 0px;
    padding: 8px 16px;
}
#right-column {
    vertical-align: middle;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#claynce-placeholder-img {
    vertical-align: middle;
    margin-bottom: 24px;
}

#manual-input-uuid-div {
    margin-top: 8px;
}
#submitButton {
    margin-top: 16px;
}

/** Additional feature: Screen which supports smaller screen size **/ 
@media only screen and (max-width: 768px) and (min-width: 360px) {
    #registerButton, #submitButton {
        font-size: 1.5em !important;
        width: 75%;
    }
    #claynce-placeholder-img {
        margin: 16px 0px;
    }
    #left-column {
        margin-top: 8px;
    }
    #right-column {
        margin-top: 24px;
    }
}
